<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optima.plugin.host">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ThreadPoolActivity"></activity>
        <activity android:name=".activity.JobIntentServiceActivity" />
        <activity android:name=".activity.UsePluginViewActivity" />
        <activity android:name=".activity.UsePluginFragmentActivity" />
        <activity android:name=".activity.WaveViewActivity" />
        <activity android:name=".activity.PluginManagerTestActivity" />
        <activity android:name=".activity.ReflexTestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.LockScreenReceiver">
            <intent-filter>
                <action android:name="com.optima.plugin.host.ACTION_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>

        <service android:name=".service.HostServiceTest" />

        <activity
            android:name=".activity.ServiceTestActivity"
            android:launchMode="singleTask"
            android:process=":wtf"
            android:taskAffinity="com.optima.plugin.host.otherTask" />
        <activity
            android:name=".activity.ProviderTestActivity"
            android:launchMode="singleTask"
            android:process=":wtf"
            android:taskAffinity="com.optima.plugin.host.otherTask" />

        <provider
            android:name=".provider.HostProvider"
            android:authorities="com.optima.plugin.host" />

        <activity android:name=".activity.NotificationTestActivity" />

        <service
            android:name=".service.AIDLService"
            android:process=":GuardService">
            <intent-filter>
                <action android:name="hostMainService" />
            </intent-filter>
        </service>
        <service
            android:name=".MainService"
            android:process=":GuardService" />

        <activity android:name=".activity.TransitActivity" />
        <activity
            android:name=".view.gesture.LockScreenActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.BinderTestActivity" />
        <activity android:name=".activity.DownloadActivity" />

        <service android:name=".service.CommonAIDLService">
            <intent-filter>
                <action android:name="ACTION_COMMON_AIDL" />
            </intent-filter>
        </service>

        <activity android:name=".activity.HomeActivity" />

        <service
            android:name=".service.WorkService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        
        <activity android:name=".activity.DOCSelectActivity"/>
        <service android:name=".thread.DownloadService">

        </service>
    </application>

</manifest>