<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optima.plugin.host">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.BroadcastTest">
            <intent-filter>
                <action android:name="com.optima.plugin.host.ACTION_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>

        <service android:name=".service.HostServiceTest" />
        <activity android:name=".activity.ServiceTestActivity" />
        <activity android:name=".activity.ProviderTestActivity"/>
        <provider
            android:name=".provider.HostProvider"
            android:authorities="com.optima.plugin.host" />
        <activity android:name=".activity.NotificationTestActivity"/>
        <service android:name=".service.AIDLService">
            <intent-filter>
                <action android:name="hostMainService"/>
            </intent-filter>
        </service>
    </application>

</manifest>